<div id="note_view">
    <div class="modal-body">
        <div class="form-group">
            <label for="note_title">Title</label>
            <input
                    type="text"
                    class="form-control"
                    id="note_title"
                    value="{{ object.title }}"
                    required="required"
                    readonly>
        </div>
        <div class="form-group">
            <label for="note_content">Content</label>
            <textarea
                    class="form-control"
                    id="note_content"
                    required="required"
                    rows="3"
                    readonly>{{ object.content }}</textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary m-progress" onclick="window.close()">
            Close
        </button>
    </div>
</div>